.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(145deg, #28a745, #1d8134);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: solid 2px black;
  
  }
  
  .login-container button:hover {
    background-color: black;
  }
  